.navbar .navbar-brand
{
    color: #E50914;
    font-weight: bold;
}

body{
    background-color: black;
}

.navbar{
    background-color: black;
}

.navbar-nav .nav-item .nav-link
{
    color: #E50914;
}