<app-navbar></app-navbar>

<h1 class="mt-5">Lista de Películas</h1>

<!-- Listar Películas -->
<ul>
  <li *ngFor="let pelicula of peliculas">
    {{ pelicula.nombre }}
    <button (click)="editarPelicula(pelicula)">Editar</button>
    <button (click)="eliminarPelicula(pelicula._id)">Eliminar</button>
  </li>
</ul>

<h1>Crear/Editar Película</h1>

<!-- Formulario -->
<form (ngSubmit)="guardarPelicula()">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" [(ngModel)]="pelicula.nombre" required>

  <label for="descripcion">Descripción:</label>
  <textarea id="descripcion" name="descripcion" [(ngModel)]="pelicula.descripcion" required></textarea>

  <label for="urlpelicula">URL de la Película:</label>
  <input type="text" id="urlpelicula" name="urlpelicula" [(ngModel)]="pelicula.urlpelicula" required>

  <label for="urlimagen">URL de la Imagen:</label>
  <input type="text" id="urlimagen" name="urlimagen" [(ngModel)]="pelicula.urlimagen" required>

  <label for="categoria">Categoría:</label>
  <select name="categoria" id="categoria" [(ngModel)]="categoriaSeleccionada">
    <option *ngFor="let categoria of categorias" [ngValue]="categoria._id">
      {{ categoria.nombre }}
    </option>
  </select>

  <label for="duracion">Duración:</label>
  <input type="text" id="duracion" name="duracion" [(ngModel)]="pelicula.duracion" required>

  <label for="director">Director:</label>
  <input type="text" id="director" name="director" [(ngModel)]="pelicula.director">

  <label>Elenco:</label>
<div *ngFor="let nombre of elenco">
  {{ nombre }}
  <button (click)="eliminarActor($event, nombre)">Eliminar</button>
</div>

<input type="text" [(ngModel)]="nuevoElenco" (input)="onNuevoElencoChange($event)">

<button type="button" (click)="agregarElenco()">Agregar</button>
      
  
  <label for="anopublic">Año de Publicación:</label>
  <input type="number" id="anopublic" name="anopublic" [(ngModel)]="anopublic" required>



  <button type="submit">Guardar</button>
  <button type="button" (click)="resetFormulario()">Cancelar</button>
</form>
