/* Estilos para el fondo negro de la página */
body {
    background-color: #141414;
    color: #fff;
  }
  
  /* Estilos para el encabezado de la lista de películas */
  h1 {
    font-size: 24px;
    margin-top: 5rem;
    color: #e50914; /* Rojo de Netflix */
    text-align: center; /* Centrar horizontalmente */
  }
  
  /* Estilos para la lista de películas */
  ul {
    list-style-type: none;
    padding: 0;
     /* Rojo de Netflix */
    border-radius: 4px;
    padding: 1rem;
    width: 50%; /* Mitad de la página */
    margin: 0 auto; /* Centrar horizontalmente */
    text-align: center; /* Centrar contenido */
  }
  
  li {
    margin-bottom: 1rem;
    text-align: left; /* Alinear texto a la izquierda */
  }
  
  /* Estilos para los botones de editar y eliminar en la lista de películas */
  button {
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 14px;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  button.editar-button {
    background-color: orange;
  }
  button:hover {
    background-color: #b2070f;
  }
  
  /* Estilos para el formulario de crear/editar película */
  .formulario-pelicula {
    margin-top: 2rem;
    padding: 1rem;
    width: 50%; /* Mitad de la página */
    margin: 0 auto; /* Centrar horizontalmente */
    text-align: center; /* Centrar contenido */
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .form-group {
    flex-basis: calc(50% - 1rem);
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: left; /* Alinear texto a la izquierda */
  }
  
  input, select, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
  }
  
  select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .botones {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  button[type="submit"],
  button[type="button"] {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 0.5rem;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #b2070f;
  }
  button[type="button"].cancel{
    background-color: #333;
  }
  button[type="button"].cancel:hover{
    background-color: #777;
  }
  /* Estilos adicionales para resaltar los títulos y subtítulos */
  h1,
  h2,
  h3 {
    color: #e50914; /* Rojo de Netflix */
  }
  
  /* Estilos para el contenedor principal */
  /* Estilos para el contenedor principal */
/* Estilos para el contenedor principal */
.formulario-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

/* Estilos para el borde rojo */
.formulario-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #e50914; /* Rojo de Netflix */
  border-radius: 4px;
  z-index: -1;
  box-sizing: border-box;
}

.barra-busqueda {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.barra-busqueda input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #e50914;
  border-radius: 4px;
}

.barra-busqueda button {
  margin-left: 0.5rem;
  padding: 0.5rem;
  height: 90%;
  font-size: 1rem;
  background-color: #e50914;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: stretch; /* Agrega esta línea para ajustar la altura */
}

.barra-busqueda button:hover {
  background-color: #b2070f;
}
