img {
    width: 100%;
    height: auto;
    border: none; /* Agregamos esta línea para quitar el borde */
  }
  
  h1 {
    color: #ffffff;
    font-weight: bold;
    border: none; /* Agregamos esta línea para quitar el borde */
  }
  
  p {
    color: #ffffff;
    border: none; /* Agregamos esta línea para quitar el borde */
  }
  
  a {
    background-color: #e50914;
    color: #ffffff;
    text-decoration: none;
    border: none; /* Agregamos esta línea para quitar el borde */
  }
  
  a:hover {
    background-color: #e50914;
    color: #ffffff;
    border: 2px solid #ffffff;
  }
  
.elenco-list {
    list-style-type: none;
    padding: 0;
    margin-left: 15px;
  }
  
  .elenco-item {
    margin-bottom: 5px;
    color: #ffffff;
    border: none; /* Agregamos esta línea para quitar el borde */
  }
  
  
.body{
    background-color: black;
}

body{
  background-color: black;
}
.play-icon {
  position: relative;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.play-icon:hover .play-button {
  opacity: 1;
}

.play-button i {
  font-size: 48px;
  color: white;
}
