.navbar .navbar-brand
{
    color: #E50914;
    font-weight: bold;
}

body{
    background-color: black;
}

.navbar{
    background-color: black;
}

.navbar-nav .nav-item .nav-link
{
    color: #E50914;
}

.my-element {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Ajusta el color de fondo según tus preferencias */
  }
  
  .my-element video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  