<div class="sidebar">
    <div class="content-center">
      <ul>
        <li class="icon">
          <a class="fas fa-search" routerLink="/navigator/buscadornetflix" routerLinkActive="active"></a></li>
        <li class="icon">
          <a class="fas fa-home" routerLink="/navigator/" routerLinkActive="active"></a></li>
        <li class="icon">
          <a class="fas fa-tv" routerLink="/navigator/admin" routerLinkActive="active" *ngIf="isAdmin"></a></li>
        <li class="icon">
          <button class="fas fa-film" (click)="cerrarSesion()"></button></li>
      </ul>
    </div>
  </div>
  <div class="contenido-pantalla">
    <router-outlet></router-outlet>
  </div>