/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #000000;
    overflow-x: hidden;
}

@import "~bootstrap-icons/font/bootstrap-icons.css";



.netflix-alert {
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #000;
    color: #fff;
  }
  
  .netflix-alert .swal2-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .netflix-alert .swal2-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }
  
  .netflix-alert .swal2-confirm {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 4px;
    background-color: #e50914;
    border: 1px solid #fff;
    outline: none; /* Agrega esta línea para eliminar el pequeño borde morado */
  }
  .netflix-alert .swal2-confirm:focus {
    box-shadow: none;
  }
  .netflix-alert .swal2-cancel {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 4px;
    background-color: #000;
    margin-right: 16px;
    border: 1px solid #fff;
  }
  
  .netflix-alert .swal2-confirm, .netflix-alert .swal2-cancel {
    width: 150px; /* Ajusta el ancho según tus necesidades */
    box-sizing: border-box; /* Agrega esta línea para incluir el padding en el ancho */
  }
  
  .netflix-alert .swal2-cancel:hover {
    background-color: #fff;
    color: #000;
  }
  
  .netflix-alert .swal2-confirm:hover {
    background-color: #d6151e;
  }

