<div class="netflix-home">
    <div class="custom-logo-container">
      <img src="./assets/pngwing.com (2).png" alt="Logo de Netflix" class="custom-logo">
    </div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade carousel1" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let imageUrl of imageUrls; let i = index" [class.active]="i === 0">
          <img [src]="imageUrl" class="d-block w-100 carousel-image" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
    <div class="image-list-container">
      <h1 class="title-list">Series de TV inquietantes</h1>
      <div class="carousel">
        <button class="carousel-control prev" (click)="prevImage()">&lt;</button>
        <div class="image-list" #imageList>
          <a *ngFor="let pelicula of peliculasAccion" (click)="verDetalleSerie(pelicula._id)">
            <img [src]="pelicula.urlimagen" alt="Imagen">
          </a>
        </div>
        <button class="carousel-control next" (click)="nextImage()">&gt;</button>
      </div>
    </div>
    <div class="image-list-container">
      <h1 class="title-list">Estrenos</h1>
      <div class="carousel">
        <button class="carousel-control prev" (click)="prevImage1()">&lt;</button>
        <div class="image-list" #imageList2>
          <a *ngFor="let serie of series">
            <img [src]="serie.imagenurl" alt="Imagen">
          </a>
        </div>
        <button class="carousel-control next" (click)="nextImage1()">&gt;</button>
      </div>
    </div>
  </div>